# Ignora tudo por padrão
*

# Permite que o Git navegue pelas pastas
!*/

# Apenas arquivos .py e notebooks sobem
!*.py
!*.ipynb

# Bloqueia explicitamente o que não deve subir nunca
__pycache__/
.venv/
venv/
env/
*.pt
*.pth
*.ckpt
*.safetensors
